# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local env files
.env

# MacOS stuff
.DS_Store

# Local tests
tests/test_manim.py
tests/test_matplot.py
