include README.md
include LICENSE
include pyproject.toml
include mathrix/py.typed

recursive-include mathrix *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *

