include README.md
include LICENSE
include pyproject.toml
include panchi/py.typed

recursive-include panchi *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *

